.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid darkred;
  padding: 10px;
}

.header{
  padding: 10px;
}

body{
  padding: 10px;
  background-color: lightgrey;
  color: white;

}

footer {
  font-size: small;
  color: bisque;
}

h1 {
  color:darkmagenta;
}

h2 {
  color:magenta;
}